
.input1{
    width: 350px;
    height: 50px;
    background-color: white;
    /*border: none;*/
    padding-left: 15px;
    margin-top: 15px;
    border-radius: 10px;
    border-color: cadetblue;
}

select{
    border-radius: 10px;
    width: 365px;
    height: 50px;
    background-color: white;
    /*border: none;*/
    padding-left: 15px;
    margin-top: 15px;
    border-color: cadetblue;
}

#btn2{
    padding-left: 15px;
    margin-top: 15px;
    width: 365px;
    height: 40px;
    border-radius: 10px;
    /*border: none;*/
    border-color: cadetblue;
}
.transactions h1{
    color: cadetblue;
    font-family: 'lato';
    align-items: center;
    margin-left: 110px;
    text-decoration: none;
    font-size: x-large;
}

.display1{
    background-color: aqua;
    display: flex;
    
    justify-content: space-around;
    /* grid-template-columns: 1fr; */
}
h1{
    font-size: 25px;
}

span{
    color: cadetblue;
}
a {
    text-decoration: none;
}